{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEB APP ATM</title>
  <link rel="stylesheet" href="{% static 'index/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/183786/waves.jshttps://s3-us-west-2.amazonaws.com/s.cdpn.io/183786/waves.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <link href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/183786/waves.css" rel="stylesheet">
</head>
<body>
<img src="{% static "index/img/banklogo.png" %}" class="logo">
<div class="smallscreen">
  <h1>Screen is too small </h1>
</div>
<div class="creditCardForm">
  <div class="heading">
    <h1>Enter your credit card information</h1>
  </div>
  <div class="payment">
    <form method="post" action="{% url 'test' %}">
    {% csrf_token %}
      <div class="form-group owner">
        <label for="owner">Owner name</label>
        <input type="text" class="form-control" name="own" id="owner" autocomplete="off">
      </div>
      <div class="form-group" id="card-number-field">
        <label for="cardNumber">Card Number</label>
        <input type="text" class="form-control" name="card" id="cardNumber" maxlength="19" required pattern="[0-9]{4} *[0-9]{4} *[0-9]{4} *[0-9]{4}" autocomplete="off">
      </div>
      <div class="form-group CVV">
        <label for="pin">Pin</label>
        <input type="password" class="form-control" name="p" id="pin" maxlength="4" required pattern="[1-9]{4}" autocomplete="off">
      </div>
      <div class="form-group" id="credit_cards">
        <img src="{% static "index/img/home/visa.jpg" %}" id="visa">
        <img src="{% static "index/img/home/mastercard.jpg" %}" id="mastercard">
        <img src="{% static "index/img/home/amex.jpg" %}" id="amex">
      </div>
      <div class="form-group" id="confirm-now">
        <button type="submit" href="index.html" class="btn btn-default" id="confirm-card">Confirm</button>
      </div>
    </form>
  </div>
</div>
</body>

</html>
