body {
  margin: 0;
  min-height: 100%;
  background: url("img/back.png");
  background-position: center auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.logo {
  position: relative;
  left: 50%;
  margin-left: -40px;
  margin-top: 10px;
  max-height: 80px;
  max-width: 80px;
}
.creditCardForm {
    max-width: 700px;
    background-color: #fff;
    margin: 100px auto;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56;
}
.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}
.creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4c4e56;
}
.creditCardForm .payment {
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 20px;
    position: relative;
}
.creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
}
.creditCardForm .payment .form-control {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
}
.creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
}
.creditCardForm .CVV {
    width: 35%;
}
.creditCardForm #card-number-field {
    width: 100%;
}
.creditCardForm #expiration-date {
    width: 49%;
}
.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}
.creditCardForm #confirm-now {
    width: 100%;
    margin-top: 25px;
}
.creditCardForm  .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 24px;
    background-color: #2ec4a5;
    color: white;
}
.creditCardForm  .btnx {
    width: 100%;
    margin-top: 3px;
    font-size: 24px;
    background-color: #f06969;
    color: white;
}
.creditCardForm  select {
    padding: 10px;
    margin-right: 15px;
}
.transparent {
    opacity: 0.2;
}
@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }
    .creditCardForm #credit_cards {
        text-align: left;
    }
}
@media screen and (min-width:320px){
  .smallscreen{
    display: none;
  }
}
@media screen and (max-width:319px) {
.creditCardForm {
    display: none;
  }
}
